@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

/* --- CONFIG. GERAL DA PÁGINA --- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    max-width: 100%;
    padding: 15px;
}

section{
    width: 600px;
}

/* --- TÍTULO E SUBTÍTULO DA PÁGINA --- */

h1{
    width: 580px;
    margin: 10px 10px;
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #0739ff;
}

h4{
    width: 580px;
    margin: 10px 10px;
    padding: 15px 0 15px 0;
    font-weight: 400;
}

/* --- RESPONSIVIDADE --- */

@media(max-width: 670px){
    section{
        width: 445px;
    }

    h1, h4{
        width: 425px;
    }

    h4{
        font-size: 12px;
    }
}

@media(max-width: 470px){
    section{
        width: 350px;
    }
    
    h1, h4{
        width: 330px;
    }
}

@media(max-width: 370px){
    section{
        width: 300px;
    }
    
    h1{
        font-size: 30px;
    }

    h4{
        font-size: 12px;
    }

    h1, h4{
        width: 280px;
    }
}